.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .backLink {
        color: #F2F4FF;
        text-decoration: none;

        & + .backLink {
            text-decoration: underline;
        }
    }

    & .text {
        color:#e9dada;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        min-height: 34px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    & .img {
        margin-bottom: 20px;
        background-image: url("../assets/images/questions.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 322px;
    }
}